<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <title>Kitchen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript">
      document.addEventListener('breezy:load', function(event){
        var props = {
          view: event.data.view,
          data:  event.data.data
        }
        ReactDOM.render(React.createElement(window.View, props), document.getElementById('app'));
      });

      document.addEventListener('DOMContentLoaded', function(){
        <%= breezy_snippet %>
      });
  </script>
</head>
<div id='app'></div> <!--wtf.....-->

  <body>
    <div id='app'></div>
    <%= yield %>
  </body>
</html>
